<h2>Edit user enquiry attachment</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_enquiry_attachment_path(@conn, :update, @user_enquiry_attachment) %>

<%= link "Back", to: user_enquiry_attachment_path(@conn, :index) %>
